<body>
  <div class="El fondo" >
    <div class="col-12 text-center text-light">
      <h1>Calculadora</h1>
    </div> <br>
    <div class="row">
      <div class="col"></div>    
      <div class="display col-10 text-end " id="display" name="display">
        Hellooooooo Nurse
      </div>
      <div class="col"></div>
    </div>
> <br>
    <div class="row">
      <div class="col-3 text-center">
        <button  style="color: red;" id="delete" name="delete" (click)="borrar()">C</button>
      </div>
      <div class="col-3 text-center">
        <button id="rewind" name="rewind">Borrar</button>
      </div>
      <div class="col-3 text-center">
        <button id="paren" name="paren">()</button>
      </div>
      <div class="col-3 text-center">
        <button id="divide" name="divide">/</button>
      </div>
    </div> <br>

    <div class="row">
      <div class="col-3 text-center">
        <button id="one" name="one" (click)="numerar(1)">1</button>
      </div>
      <div class="col-3 text-center">
        <button id="two" name="two" (click)="numerar(2)">2</button>
      </div>
      <div class="col-3 text-center">
        <button id="three" name="three" (click)="numerar(3)">3</button>
      </div>
      <div class="col-3 text-center">
        <button id="mult" name="mult">X</button>
      </div> 
    </div> <br>
    
    <div class="row">
      <div class="col-3 text-center">
        <button id="four" name="four" (click)="numerar(4)">4</button>
      </div>
      <div class="col-3 text-center">
        <button id="five" name="five" (click)="numerar(5)">5</button>
      </div>
      <div class="col-3 text-center">
        <button id="six" name="six" (click)="numerar(6)">6</button>
      </div>
      <div class="col-3 text-center">
        <button id="add" name="add">+</button>
      </div> 
    </div> <br>
    
    <div class="row">
      <div class="col-3 text-center">
        <button id="seven" name="seven" (click)="numerar(7)">7</button>
      </div>
      <div class="col-3 text-center">
        <button id="eight" name="eight" (click)="numerar(8)">8</button>
      </div>
      <div class="col-3 text-center">
        <button id="nine" name="nine" (click)="numerar(9)">9</button>
      </div>
      <div class="col-3 text-center">
        <button id="minus" name="minus">-</button>
      </div> 
    </div> <br>
    
    <div class="row">
      <div class="col-3 text-center">
        <button id="inverse" name="inverse">+/-</button>
      </div>
      <div class="col-3 text-center">
        <button id="zero" name="zero" (click)="numerar(0)">0</button>
      </div>
      <div class="col-3 text-center">
        <button id="decimal" name="decimal">.</button>
      </div>
      <div class="col-3 text-center" >
        <button id="equals" name="equals" style="background-color: cornflowerblue;">=</button>
      </div> 
    </div> <br>
    
  </div>
</body>