<body>
  <div class="El fondo" >
    <div class="col-12 text-center text-light">
      <h1>Calculadora</h1>
    </div>
    <div class="col-12 text-center text-light">
      <textarea id="display" name="display" cols="120" disabled style="background-color: aliceblue;">Heeello nurse</textarea>
    </div>
    <div class="row">
      <div class="col-3 text-center">
        <button  style="color: red;" id="delete" name="delete">C</button>
      </div>
      <div class="col-3 text-center">
        <button id="rewind" name="rewind">Borrar</button>
      </div>
      <div class="col-3 text-center">
        <button id="paren" name="paren">()</button>
      </div>
      <div class="col-3 text-center">
        <button id="divide" name="divide">/</button>
      </div>
    </div> <br>

    <div class="row">
      <div class="col-3 text-center">
        <button id="one" name="one">1</button>
      </div>
      <div class="col-3 text-center">
        <button id="two" name="two">2</button>
      </div>
      <div class="col-3 text-center">
        <button id="three" name="three">3</button>
      </div>
      <div class="col-3 text-center">
        <button id="mult" name="mult">X</button>
      </div> 
    </div> <br>
    
    <div class="row">
      <div class="col-3 text-center">
        <button id="four" name="four">4</button>
      </div>
      <div class="col-3 text-center">
        <button id="five" name="five">5</button>
      </div>
      <div class="col-3 text-center">
        <button id="six" name="six">6</button>
      </div>
      <div class="col-3 text-center">
        <button id="add" name="add">+</button>
      </div> 
    </div> <br>
    
    <div class="row">
      <div class="col-3 text-center">
        <button id="seven" name="seven">7</button>
      </div>
      <div class="col-3 text-center">
        <button id="eight" name="eight">8</button>
      </div>
      <div class="col-3 text-center">
        <button id="nine" name="nine">9</button>
      </div>
      <div class="col-3 text-center">
        <button id="minus" name="minus">-</button>
      </div> 
    </div> <br>
    
    <div class="row">
      <div class="col-3 text-center">
        <button id="inverse" name="inverse">+/-</button>
      </div>
      <div class="col-3 text-center">
        <button id="zero" name="zero">0</button>
      </div>
      <div class="col-3 text-center">
        <button id="decimal" name="decimal">.</button>
      </div>
      <div class="col-3 text-center">
        <button id="equals" name="equals">=</button>
      </div> 
    </div> <br>
    
  </div>
</body>