html{
    height: 100%;
    width: 100%;
}
body{
    background-color: darkblue;
}
button{
    border-radius: 20px;
    background-color: aliceblue;
    border: none;
    font-size: 20px;
    padding: 30px 50px;
}
.display{
    background-color: aliceblue;
    border-radius: 20px;
    text-align: end;
    font-size: 20px;
}